@import 'variables';



header {
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  text-align: center;
  position:relative;

  .header-overlay {
    position:absolute;
    width:99.9vw;
    height:99.9vh;
    background: $blue;
    opacity:0;
    transition: opacity 1.00s ease-in-out;

    &.header-overlay-ani{
      opacity: 1;
    }
  }

  .front {
    padding-top: 6em;

    button {
      color: white;
      border: none;

      border-radius:5px;
      background: $blue;

      padding: $padding-button;
      cursor: pointer;

      -webkit-box-shadow: 1px 19px 9px 2px rgba(58,146,253,0.42);
      -moz-box-shadow: 1px 19px 9px 2px rgba(58,146,253,0.42);
      box-shadow: 1px 7px 9px 2px rgba(58,146,253,0.42);
    }
  }

  .benefits{
    color:white;
    background: $blue;
    text-align: center;

    display: grid;
    grid-template: 1fr;
    align-items: center;

    ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    width:100%;

  }
}
