@import 'variables';
nav {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;

  list-style-type: none;
  li{
    &.logo {
      list-style-type: inherit;
      grid-column: 4;

      a {
        text-decoration: none;

        &:visited{
          text-decoration: none;
          color:black;
        }
      }
    }

    &.buttons{
      grid-column: 9;

      .grid-buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;

        .identity {
          grid-column: 1;
          border-style: none;
          outline: none;
        }

        .login {
          grid-column: 2;
          background-color: white;
          border: 2px solid grey;
          border-radius: 5px;
          cursor: pointer;
          padding: $padding-button;
          outline: none;
        }

        .selectLanguage {
          grid-column: 3;
          border-style: none;
          outline: none;
        }
      }

    }

  }
}
