@import 'variables';

#pitch {

  position: relative;
  display:grid;
  grid-template-rows: repeat(4, 1fr);

  .right, .left, .top, .bottom {
    display:inline-block;
    position: absolute;
    background: $blue;

  }

  .right{
    right:0;
    bottom:0;
  }

  .top{
    top:0;
    right:0;
  }

  .left{
    top:0;
    left:0;
  }

  .bottom{
    bottom: 0;
    left: 0;
  }



  h2 {
    text-align: center;
  }
  hr{
    width:30vw;
  }
  p {
    color: gray;
    text-align: center;
    margin: 0 auto;

    &#first-para{
      width: 60vw;
    }
  }

  .main-pitch-card {

    grid-row: 2;
    position:relative;

    margin:1vh auto;
    width:55vw;

    border-radius: 5px;

    display:flex;
    flex-direction: row;

    img{
      justify-content: center;
    }

    #left{
      border-right: $main-border;
    }
    #right{
      border-left: $main-border;
    }
  }
}
