@import 'variables';

section {
  position: relative;
  

  &#pitch {
    grid-template-rows: repeat(4, 1fr);

    .right, .left, .top, .bottom {
      display:inline-block;
      position: absolute;
      background: $blue;

    }

    .right{
      right:0;
      bottom:0;
    }

    .top{
      top:0;
      right:0;
    }

    .left{
      top:0;
      left:0;
    }

    .bottom{
      bottom: 0;
      left: 0;
    }

    .main-pitch-card {

      grid-row: 2;
      position:relative;
  
      margin:1vh auto;
      width:55vw;
  
      border-radius: 5px;
  
      display:flex;
      flex-direction: row;
  
      img{
        justify-content: center;
      }
  
      #left{
        border-right: $main-border;
      }
      #right{
        border-left: $main-border;
      }
    }
  }

  &#benefits{
    
    .benefits-grid{
      padding-top:10vh;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      justify-items: center;

      
      .benefit{
        height:100%;
        width:100%;

        position: relative;
        display:inline-block; 
        text-align: center;

        z-index: 1;

        .container{

          &:before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 0;
            height: 100%;
            background-color: $blue;
            transition: all 500ms ease-in-out;
            color:white; 
            z-index: -1;
            transform: scaleX(0);
            transform-origin: 0 50%;
          }

          .icon {
            width:2vw;
            height:2vh;
            font-size:2vw;
            font-weight: 900;
          }

          p{
            display: block;
          }

          transition: all 500ms ease-in-out;
          &:hover{
            color:white;
            p{
              display: block;
            }
          }

          &:hover:before{
            width: 100%;
            transform: scaleX(1);
          }
        }

      }


    }
  }

  h2 {
    text-align: center;
  }
  hr{
    width:30vw;
  }
  p {
    color: gray;
    text-align: center;
    margin: 0 auto;

    &#first-para{
      width: 60vw;
    }
  }

  
}
